<h1>Test account logins</h1>
<%= button "Reset seed data", to: Routes.test_logins_path(@conn, :reseed), method: :put %>
<table>
  <tr>
    <th>email</th>
    <th>description</th>
    <th>magic login button</th>
  </tr>
  <%= for %{email: email, description: description} <- Seeds.logins() do %>
    <tr>
      <td><%= email %></td>
      <td><%= description %></td>
      <td>
        <%= form_for @conn, Routes.login_path(@conn, :create), fn f -> %>
          <%= email_input f, :email, hidden: true, value: email, required: true %>
          <%= password_input f, :password, hidden: true, value: "password", required: true %>
          <%= submit "login" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
